* {
  margin: 0;
  padding: 0;
}

.App{
  width: 1200px;
  margin: 0 auto;
  font-family: Montserrat;
}

.pageBody {
  background: #232323;
}

.pageHeader {
  position: relative;
}

.selectSection {
  display: flex;
  border-bottom: #424242 2px solid;
  height: 60px;
  align-items: center;
  justify-content: center;
}
